apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./namespace.yaml
  - ./my-app-secrets.yaml
  - ../../base/my-app/

namespace: my-app

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: my-app
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: my-app
    spec:
      template:
        spec:
          hostAliases:
            - ip: "_NGINX_INGRESS_LB_IP_PLACEHOLDER_"
              hostnames:
                - "_KEYCLOAK_DOMAIN_PLACEHOLDER_"
          volumes:
            - name: secret-volume
              secret:
                secretName: my-app-oauth-secrets
          containers:
            - name: oauth2-proxy
              volumeMounts:
              - name: secret-volume
                readOnly: true
                mountPath: "/etc/secret-volume"
              env:
                - name: OAUTH2_PROXY_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: my-app-oauth-secrets 
                      key: client-id
                - name: OAUTH2_PROXY_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: my-app-oauth-secrets 
                      key: client-secret
                - name: OAUTH2_PROXY_COOKIE_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: my-app-oauth-secrets 
                      key: cookie-secret
                - name: OAUTH2_PROXY_PROVIDER
                  value: "keycloak-oidc"
                - name: OAUTH2_PROXY_OIDC_ISSUER_URL
                  value: https://keycloak.127.0.0.1.nip.io/realms/local-development
                - name: OAUTH2_PROXY_REDIRECT_URL
                  value: https://my-app.127.0.0.1.nip.io/oauth2/callback
                - name: OAUTH2_PROXY_EMAIL_DOMAINS
                  value: "*"
                - name: OAUTH2_PROXY_UPSTREAMS
                  value: "http://127.0.0.1:1407/"
                - name: OAUTH2_PROXY_SKIP_AUTH_ROUTES
                  value: "GET=^/api/health"
                - name: OAUTH2_PROXY_SILENCE_PING_LOGGING
                  value: "true"
                - name: OAUTH2_PROXY_PROVIDER_CA_FILES
                  value: "/etc/secret-volume/oidc-provider-ca.pem"
                - name: OAUTH2_PROXY_CODE_CHALLENGE_METHOD
                  value: "S256"
