---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/component: base-app
    app.kubernetes.io/part-of: my-app
    app.kubernetes.io/name: my-app
  name: my-app-oauth-secrets
  namespace: my-app
type: Opaque
data:
  cookie-secret: "WFhYWFhYWFhYWFhYWFhYWA=="
  client-secret: "_OIDC_CLIENT_SECRET_PLACEHOLDER_"
  client-id: "_OIDC_CLIENT_ID_PLACEHOLDER_"
  oidc-provider-ca.pem: "_OIDC_PROVIDER_CA_PLACEHOLDER_"
