package views

import (
	"github.com/mirsafari/oauth-keycloak-go/internal/models"
	"fmt"
)

templ Homepage(user *models.User) {
	<html>
		<body>
			<ul>
				<li>Hi</li>
				<li>Authenticated user</li>
				<li>Name: { user.PreferredUsername }</li>
				<li>Email: { user.Email }</li>
				<li>ID: { user.UserExternalID }</li>
				<li>Roles: { fmt.Sprintf("%t",user.Roles.Has("account:view-profile")) }</li>
			</ul>
			if user.Roles.Has("offline_access") {
				<strong><i>I am Admin using working mirrod with cleanup !!!!</i></strong>
			}
		</body>
	</html>
}
